<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Put your description here.">
     <link rel="stylesheet" href="{% static 'website/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/media_768_1024.css' %}" as="style">
    <link rel="stylesheet" href="{% static 'website/css/media_320_767.css' %}" as="style">


    <title>Construction</title>
</head>

<body>
    <section class="table_section">
        <div class="table_row">
            <div class="table_wrapper">
            <table class="tablewidth">
                <tr>
                    <th>SL No</th>
                    <th>Designated Space</th>
                    <th>Schedule of Finishes</th>
                    <th>Approved Manufacturer</th>
                    <th>Remarks</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Floor</td>
                    <td>Vitrified tiles (600x600 mm)</td>
                    <td>johnson,Nitco,kajaria</td>
                    <td>600x600mm miror polished Premier Quality Double Charged Joint less</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Floor</td>
                    <td>Vitrified tiles (600x600 mm)</td>
                    <td>johnson,Nitco,kajaria</td>
                    <td>600x600mm miror polished Premier Quality Double Charged Joint less</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Floor</td>
                    <td>Vitrified tiles (600x600 mm)</td>
                    <td>johnson,Nitco,kajaria</td>
                    <td>600x600mm miror polished Premier Quality Double Charged Joint less</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Floor</td>
                    <td>Vitrified tiles (600x600 mm)</td>
                    <td>johnson,Nitco,kajaria</td>
                    <td>600x600mm miror polished Premier Quality Double Charged Joint less</td>
                </tr>
            </table>
        </div>
        </div>
    </section>
</body>

</html>