<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Put your description here.">

    <link rel="icon" href="{% static 'website/img/fav-icon.webp'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'website/css/custom.css' %}" as="style">

    <title>Kitchen</title>

</head>

<body>
    <div class="imgage_wrrapper">
        <div class="image_wrrapper_block">
            {% for gallery in gallerys %}
            <div class="image_block image_gap">
                <img src="{{gallery.kitchen_photo.url}}" alt="kitchen" class="img_1">
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="{% static 'website/js/custom.js' %}"></script>

</body>

</html>