:root{
    --body:#ffffff;
    --theame1:#121212;
    --theame2:#c4956a;
    --theame3:#74512F;
    --heading:#3e3e45;
    --darkpara:#121212;
    --lightpara:#ffffff;
    --submit_btn:#3cb371;
    --white:#fff;
}